[2016-06-13 08:47] inetuid opened #16 "Loopback interfaces missing in get_facts()"
The show interfaces status command used to populate the interfaces list in get_facts() does not return any loopback interfaces. Is this intentional? Nothing in the docs/mailing list that I found that states they should be excluded.

[2016-06-13 09:52] dbarrosop commented on #16
Hello,
Loopback interfaces should be there. Could you provide the output of the following commands, please?

`show version`, `show interfaces status`

Thanks

[2016-06-13 18:48] jzohrab opened #17 "Failure on calling 'get_interfaces_ip()' with quickstart, 'No IPv6 configured interfaces'"
Error: `pyeapi.eapilib.CommandError: Error [1000]: CLI command 3 of 3 'show ipv6 interface' failed: could not run command [No IPv6 configured interfaces]`

For a work POC, I started looking at creating tutorial material for the various getter methods.  I was using the EOS device in a script similar to the load_replace demo (ref https://github.com/napalm-automation/napalm/pull/265), and the script

[2016-06-13 18:57] jzohrab commented on #17
I added an ipv6 address in the new_good.conf:

[code]

and the call worked:

[code]

[2016-06-13 18:58] mirceaulinic commented on #17
No, this is not intentional.
In a pure crisco-ish style, on Arista you cannot retrieve all IP addresses configured on the device regardless the version, using one singe command. Thus, in order to retrieve IPv6, a second request (equiv of `show ipv6 interface`) is needed. Very interesting that if there's no IPv6 address configured, it will fail... Got to fix that! Thanks for reporting @jzohrab!

[2016-06-13 19:05] mirceaulinic commented on #17
@jzohrab Can you please remove all IPv4 config, leaving IPv6 addresses only and check if it fails?

[2016-06-13 19:10] jzohrab commented on #17
@mirceaulinic - I wasn't able to remove all ipv4's, when I tried my vagrant box died (I'm doing this with my quickstart eos vagrant box, and the new_good.conf config).  Well, it wouldn't commit the change, and I couldn't connect afterwards.  I suspect that the management ip has to be there for the vagrant box or for eAPI.  If not, let me know, we could skype/screenshare to try it out.

[2016-06-13 19:14] mirceaulinic commented on #17
Anyway it will probably raise  `CommandError`. I will have a closer look at this bug, but unfortunately I will not able to fix it earlier than July :(

[2016-06-13 19:17] jzohrab commented on #17
That's ok, this is not a blocker for us, fyi only.  I'll also keep tabs on it as part of my quickstart documentation effort, and if I can contribute a patch I will.  Seems like it should be doable, though I'm not sure at the moment how to test it in the napalm system.

[2016-06-13 20:39] inetuid commented on #16
As requested:

[code]

[2016-06-13 20:42] dbarrosop commented on #17
I have a fix for that that I will push in a few minutes. I also found a related bug that will be fixed in the same patch.

[2016-06-13 20:49] dbarrosop commented on #17
Ok #18 should fix that, @jzohrab would you mind testing the branch?

[2016-06-13 20:56] dbarrosop commented on #16
Ok, this one was easy. I fixed it on #19, would you mind testing the branch?

Thanks!

[2016-06-13 20:56] mirceaulinic commented on #17
Don't want to be too picky, but would not the special `#` in the branch name `dbarrosop-patch-for-#17` confuse the `pip`?
Never tried like that, but usually this is how the egg name is specified

[2016-06-13 21:02] dbarrosop commented on #17
Maybe, pip shouldn't be needed for the test though, just clone the repo, checkout the branch and launch the python interpreter from inside the folder. That's how I usually test this stuff.

[2016-06-13 21:07] mirceaulinic commented on #17
Oh, yeah, makes sense. I got used to install directly from git and haven't thought about different ways

[2016-06-13 21:36] jzohrab commented on #17
Trying this out now, thanks.

[2016-06-13 22:05] jzohrab commented on #17
Tested and it works when using https://github.com/napalm-automation/napalm/blob/quickstart/docs/tutorials/sample_configs/new_good.conf.

Old code fails, `CLI command 3 of 3 'show ipv6 interface' failed: could not run command [No IPv6 configured interfaces]`

The new code is returning `{u'Management1': {u'ipv4': {u'10.0.2.15': {u'prefix_length': 24}}}}`

[2016-06-14 06:57] dbarrosop commented on #17
@jzohrab would you mind testing again (pulling new code)?  I made a quick fix to make sure both ipv4 and ipv6 keys are there to get consistent keys.

So you should get now: `{u'Management1': {u'ipv4': {u'10.0.2.15': {u'prefix_length': 24, u'ipv6': {} }}}}`

[2016-06-14 07:02] inetuid commented on #16
The fix works for me at least - I now see the loopback interfaces in the output of get_facts():

`{'os_version': u'4.16.6M-3205780.4166M', 'uptime': 309722, 'interface_list': [u'Ethernet1', u'Ethernet2', u'Loopback0', u'Loopback666', u'Management1'], 'vendor': u'Arista', 'serial_number': u'', 'model': u'vEOS', 'hostname': u'vEOS-S1.test', 'fqdn': u'vEOS-S1.test.local'}`

[2016-06-14 07:02] #16 closed

[2016-06-14 07:08] dbarrosop commented on #16
Great, thanks. I will try to release a patched version as soon as I can get @mirceaulinic or @fooelisa to approve my PR : )

[2016-06-14 12:29] jzohrab commented on #17
@dbarrosop - I think you meant `{u'Management1': {u'ipv4': {u'10.0.2.15': {u'prefix_length': 24}}, u'ipv6': {}}}`, which the code now returns.

[2016-06-15 13:06] inetuid opened #20 "get_bgp_neighbors_detail() not implemented"
May be on your development roadmap, but the get_bgp_neighbors_detail() is not implemented in the EOSDriver.

[2016-06-15 14:01] jzohrab commented on #20
There are a few things not implemented for various drivers: http://napalm.readthedocs.io/en/latest/support/index.html#general-support-matrix

I think the team is getting to them as they get time.  If you can contribute, that would be good.  (I'm not part of the core team, but try to contribute when I can.)

[2016-06-15 18:01] mirceaulinic commented on #20
Hi @inetuid, as you correctly supposed, `get_bgp_neighbors_detail` is scheduled to be implemented, but unfortunately I will not have the time earlier that end of July/beginning of August. If you need it earlier, and you are able to provide some code (or at least a starting point) please feel free to do so.

[2016-06-15 19:36] inetuid commented on #20
I didn't know about the support matrix - thanks for the link. I'll look into providing some initial code for this.

[2016-06-15 19:44] narJH27 commented on #20
I am currently working on building this function. Will have something out soon.

[2016-06-15 19:49] mirceaulinic commented on #20
Great, we are looking forward! Thanks!

[2016-06-15 21:15] jzohrab commented on #20
Hey @narJH27, I'm doing the same for Nexus.  I've just started poking around and at the moment my branch is a total mess, I'll rebase and clean it up.  https://github.com/jzohrab/napalm-nxos/commits/wip_get_bgp_neighbors.  (actually, doing get_bgp_neighbors, not get_bgp_neighbors_detail ... whoops)

[2016-06-16 07:42] #17 closed

[2016-06-16 07:52] dbarrosop commented on #17
FYI napalm-eos 0.2.1 includes this bugfix

[2016-06-16 07:52] dbarrosop commented on #16
FYI napalm-eos 0.2.1 includes this bugfix

[2016-06-16 07:54] dbarrosop commented on #20
Great! Let us know if we can help with something : )

[2016-06-28 16:04] narJH27 commented on #20
I do have a question. I am unable to retrieve the following pieces of information from the Arista box:

routing_table (string)
multihop (True/False)
multipath (True/False)
remove_private_as (True/False)
suppress_4byte_as (True/False)
local_as_prepend (True/False)
flap_count (int)

I have code ready that retrieves all the other fields per peer in the JSON structure proposed in base.py. Anyone has a

[2016-06-28 16:21] mirceaulinic commented on #20
Hi @narJH27 can you please share the output from the device? Thanks!

[2016-06-28 17:41] narJH27 commented on #20
Please see the sample output below (apologies for the horrible formatting of the output):

switch>show ip bgp neighbors 10.0.2.6
BGP neighbor is 10.0.2.6, remote AS 64496, external link
BGP version 4, remote router ID 10.0.2.10
Negotiated BGP version 4
Last read 00:00:10, last write 00:00:58
Hold time is 180, keepalive interval is 60 seconds
BGP state is Established, up for 9d02h
Number of transit

[2016-06-28 18:49] mirceaulinic commented on #20
On yeah, there's not JSON equivalent and this text output is a bit of f**\* mess. It does not even look consistent between neighbors.

You should use the following command to give you information about the VRF too:

[code]

This is what I see for a eBGP neighbor:

[code]

`VRF default` obviously gives you the value for `routing_table`.

For eBGP neighbor:

[code]

For iBGP, only this:

[code]

The

[2016-06-28 19:15] narJH27 commented on #20
Ok. What about the rest of the fields?

[2016-06-28 19:37] mirceaulinic commented on #20
For `multipath` I don't know how it should look like (probably is displayed when used). I will check also for `local_as_prepend` and  `remove_private_as`. You should set `False` as default value for all of them as they may or may not be there. The same for `suppress_4byte_as`, but I don't know if Arista can do that.
For `flap_count` _perhaps_ you can use `Number of transitions to established: 1`,

[2016-06-28 20:09] narJH27 commented on #20
@mirceaulinic Funny thing is that I do not see the:

`Nexthop matches local IP address: 0
Nexthop invalid for single hop eBGP: 0`

on any of my EBGP peers. The OS version I am using is 4.15.2F. Maybe these fields are only displayed in certain OS versions?

[2016-06-29 08:19] dbarrosop commented on #20
@narJH27 In case of doubt, just set it to False and we can build on that later on. Just add a docstring on the method explaining which attributes you are not extracting properly.

[2016-06-29 14:46] mirceaulinic commented on #20
@narJH27 I'm running 4.15.5F, but this should not make any difference.
Anyway, you can search for `Nexthop matches local IP address:`. When is not found or the value is 0, `multihop=False`, otherwise is `True`.
BTW: in NAPALM we've integrated [TextFSM](https://github.com/google/textfsm) to parse this kind of text outputs.
E.g.: for an output like [this](https://github.com/google/textfsm/blob/maste

[2016-06-29 19:16] narJH27 commented on #20
@dbarrosop and @mirceaulinic Thanks for the tip. I was using textfsm anyways to parse my outputs :)
I will be pushing the patch soon. I have not been able to retrieve 5 fields and have defaulted the values to False or 0. Also, there is a TODO in the method specifying that this needs to be resolved going ahead.

[2016-06-30 20:19] narJH27 commented on #20
Pushed my changes. Please feel free to integrate when you feel so fit.

[2016-07-07 14:50] mirceaulinic opened #29 "Deprecation of get_ntp_peers"
Some time ago I noticed that Aristas are pretty different when it comes to NTP. It is possible to set NTP servers but cannot establish peerings with other devices.
I am going soon enough to propose the method that retrieves the NTP servers configured on the device: ```get_ntp_servers``` (base ref: https://github.com/napalm-automation/napalm-base/pull/36).

What would be the best thing to do with t

[2016-07-08 13:43] dbarrosop commented on #29
If it's not supported I'd rather return and empty dict. I did the same for lldp_neighbors and fortios, for example.

[2016-07-12 13:32] mirceaulinic commented on #20
This can be closed once https://github.com/napalm-automation/napalm-eos/pull/30 is merged

[2016-07-12 13:36] mirceaulinic opened #31 "Enforce NAPALM format for IP and MAC address fields"
Must use the helpers ip and mac from napalm-base: napalm-automation/napalm-base#55 resp napalm-automation/napalm-base#54

[2016-07-13 09:53] #20 closed

[2016-07-26 21:29] dbarrosop opened #33 "Fix setup.cfg and requirements.cfg files"
Relates to napalm-automation/napalm#280

Add `setup.cfg` and `requirements-dev.txt` file with the following content:

* `setup.cfg

[code]

* `requirements-dev.txt`

[code]

[2016-08-02 11:40] dbarrosop commented on #29
Fixed by #34

[2016-08-02 11:40] #29 closed

[2016-09-09 18:37] dbarrosop opened #35 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-12 07:02] dbarrosop opened #39 "Add `__version__` at the module level"
See details in the parent issue napalm-automation/napalm-base#70

[2016-09-12 08:14] dbarrosop opened #40 "Add ISSUE_TEMPLATE"
See details in the parent issue napalm-automation/napalm-base#71

[2016-09-13 15:55] dbarrosop opened #41 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
See details in the parent issue napalm-automation/napalm#297

[2016-09-13 16:06] #40 closed

[2016-09-13 16:33] #41 closed

[2016-09-18 13:59] dbarrosop opened #48 "Migrate tests to new testing framework"
See details in the parent issue napalm-automation/napalm-base#99

[2016-09-18 14:00] dbarrosop commented on #48
Implemented in #47

[2016-09-18 14:00] #48 closed

[2016-09-26 13:45] mirceaulinic opened #53 "KeyError when executing get_bgp_neighbors_detail"
### Description of Issue/Question

When the BGP session is down, the key representing the IP address of the neighbor is not set in the ```bgp_summary``` dictionary, which is the result of retrieving ```show ipv6 bgp summary vrf all``` and ```show ip bgp summary vrf all``` commands.

### napalm-eos version
0.3.0

### Network OS version
any

### Steps to Reproduce the Issue

Execute ```get_bgp_neigh

[2016-09-27 10:59] dbarrosop opened #55 "Disable OC"
Remove all old OC implementation references.

[2016-09-28 07:44] #53 closed

[2016-10-02 17:36] mirceaulinic opened #58 "KeyError when executing get_bgp_neighbors"
### Description of Issue/Question
Same issue as #53, for ```get_bgp_neighbors``` this time - I should have thought.

### napalm-eos version

0.3.0

### Network OS version

any

### Steps to Reproduce the Issue

Execute ```get_bgp_neighbors```

### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[code]

[2016-10-03 16:08] mirceaulinic commented on #39
Closing via https://github.com/napalm-automation/napalm-eos/pull/59

[2016-10-03 16:08] #39 closed

[2016-10-05 01:28] mirceaulinic commented on #35
Implemented in https://github.com/napalm-automation/napalm-eos/pull/38

[2016-10-05 01:28] #35 closed

[2016-10-05 01:33] mirceaulinic commented on #33
They have been added in https://github.com/napalm-automation/napalm-eos/pull/44

[2016-10-05 01:33] #33 closed

[2016-10-05 10:35] dbarrosop opened #60 "Pin napalm-base driver"
See details in the parent issue napalm-automation/napalm-base#107

[2016-10-05 11:12] dbarrosop opened #62 "Python 3 support"
See details in the parent issue napalm-automation/napalm#199

[2016-10-06 18:04] mirceaulinic commented on #60
Closing via https://github.com/napalm-automation/napalm-eos/pull/61

[2016-10-06 18:04] #60 closed

[2016-10-10 19:43] narJH27 opened #64 "Transport for eAPI should not be restricted to HTTPS"
### Description of Issue/Question

eAPI allows the use of UNIX Sockets, HTTP/HTTPS, and HTTP-Local as various transport options to access the device. It would be nice to have the .open() method take an argument specifying the preferred transport method rather than hardcoding `https` as the only possible mechanism.
### Setup
### napalm-eos version

(Paste verbatim output from `pip freeze | grep nap

[2016-10-11 08:38] dbarrosop commented on #64
I had been meaning to implement this for a while so now I got the perfect excuse : )

You should be able to use http or the socket transport like this:

[code]

and

[code]

[2016-10-11 21:28] narJH27 commented on #64
Will be great if this can be done the way you have mentioned :)

[2016-10-11 21:30] dbarrosop commented on #64
It's implemented already in #65, although it's not merged yet. Would be nice if you could pull the branch and give it a try.

[2016-10-24 09:50] mirceaulinic commented on #31
Closed via https://github.com/napalm-automation/napalm-eos/pull/46

[2016-10-24 09:50] #31 closed

[2016-10-25 11:12] mirceaulinic opened #68 "Untested release 0.4.0 blown some getters"
### Description of Issue/Question

Including ```get_interfaces```, ```get_interfaces_ip``` or ```get_bgp_neighbors_detail```.

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Tracebac

[2016-10-26 10:51] dbarrosop commented on #68
Could you add a test case to #69 with the output that device is giving you? This is the perfect use case : )

[2016-10-26 10:52] dbarrosop commented on #58
Same here, could you add a test case for this in #69?

Thanks!

[2016-10-26 10:55] mirceaulinic commented on #58
Sure, I'll add them

[2016-10-27 09:47] #68 closed

[2016-10-27 09:50] mirceaulinic commented on #58
Closed via https://github.com/napalm-automation/napalm-eos/pull/69

[2016-10-27 09:50] #58 closed

[2016-11-01 14:20] tehhobbit opened #75 "get_interface_counters fails with stacktrace"
### Description of Issue/Question

When using get_interfaces_counters() for EOS you will get an error due to the fact that 'show interfaces error countes ' is not supported for port channels

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes bel

[2016-11-01 14:26] mirceaulinic commented on #75
Yo @tehhobbit I would need two more info from you:
- what do you see in your device when running `show interfaces counters | json` and `show interfaces counters errors | json` for those interfaces (port channels)
- please paste the complete traceback - I would recommend to jump in a Python console and paste the complete error trace.

Thanks!

[2016-11-01 14:31] tehhobbit commented on #75
Requested output bellow

show interfaces counters

[code]

For error port-channel is simply missing

[2016-11-02 11:43] mirceaulinic commented on #75
Closed via https://github.com/napalm-automation/napalm-eos/pull/76

Thanks @tehhobbit!

[2016-11-02 11:43] #75 closed

[2016-11-04 12:09] tehhobbit opened #80 "Stacktraces with get_environment()"
### Description of Issue/Question

get_environment() causes stacktraces on newer versions of EOS due to a to narrow regex
### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue
just run get_environment

[2016-11-04 13:19] tehhobbit opened #81 "Faulty data returned from get_environment()"
### Description of Issue/Question

get_environment() returns wrong data in the following cases

* On board sensors was never reported due to the following code piece

`            except:
                pass
`

Cpu usage was only reported for userspace due to the following regex

`m = re.search('(\d+.\d+)\%', cpu_output.splitlines()[2])`

Total memory was reported instead of available memory due

[2016-11-07 19:10] narJH27 commented on #64
@dbarrosop I tested the above patch that adds the functionality to use the `unix-socket` as a transport over `http/https`. However, the napalm open() method blows when I try to connect using unix sockets, but `pyeapi` connects just fine using the socket as a transport. Below are the excerpts of my tests:

[code]

If you notice, using napalm, the open() blows on line 84, which indicates that `self.

[2016-11-07 19:14] dbarrosop commented on #64
Looks like a bug, reopening.

[2016-11-07 19:15] narJH27 commented on #64
Thanks @dbarrosop .

[2016-11-07 19:20] dbarrosop commented on #64
Mmm, can't reproduce the issue. Can you verify which version of `napalm-eos` you are using? The error you mention actually matches the error you would get if you were running an older version without support for this

[2016-11-07 19:57] narJH27 commented on #64
I seem to have had an older version of `napalm-eos`. However, due to the typos in the code, the connection doesn't go through when `optional_args` has `eos_transport` specified.

[2016-11-07 20:06] #64 closed

[2016-11-07 20:07] dbarrosop commented on #64
0.4.3, which solves that issue, has just been released.

[2016-11-08 08:43] tehhobbit opened #84 "Faulty data in tests and output"
### Description of Issue/Question
When polling environment on an arista the following dict is returned

{
      'fans': []
      'cpu': []
      'temperature: []
      'power': []
      'available_ram': []
      'used_ram': []
}

According to https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/base.py#L325 the dict should look like

{
     'fans': []
     'cpu': []
     'temp

[2016-11-08 08:59] #84 closed

[2016-11-08 09:00] dbarrosop commented on #80
Fixed on #79

[2016-11-08 09:00] #80 closed

[2016-11-08 09:01] dbarrosop commented on #81
Fixed on #79

[2016-11-08 09:01] #81 closed

[2016-11-18 08:00] dbarrosop opened #88 "Implement `is_alive` method"
See details in the parent issue napalm-automation/napalm-base#137

[2016-11-18 23:57] ktbyers opened #90 "get_environment() should not generate an exception on vEOS"
Arista vEOS

[code]

[2016-11-19 00:23] mirceaulinic commented on #90
Not sure if this was introduced by https://github.com/napalm-automation/napalm-eos/pull/79 at all. Anyway, this should not happen.
I would just fill with default values the `power` section for vEOS (I think also `fans`, `temp` - not sure what else).

[2016-11-21 14:11] #62 closed

[2016-11-27 21:38] mirceaulinic commented on #88
Closed via https://github.com/napalm-automation/napalm-eos/commit/9fe02f1c8761fdc22cda2473aaf9bfbdc6ff1891

[2016-11-27 21:38] #88 closed

[2016-11-28 14:36] #90 closed

[2016-12-02 17:04] bewing opened #98 ".get_route_to() throwing uncatched errror"
### Description of Issue/Question
When attempting to get information about a connected route, an error is thrown
### Setup
None
### napalm-eos version

(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue
Attempt to get_route_to() di

[2016-12-02 17:08] bewing commented on #98
Do we want to return None, an empty string, or just leave the key unset for a directly connected route's nextHop?

[2016-12-02 17:43] mirceaulinic commented on #98
When calling this method you should specify the protocol too. This implementation does not really reflect that, but for reference see: https://github.com/napalm-automation/napalm-junos/blob/develop/napalm_junos/junos.py#L961

So, if you do ```device.get_route_to(u'172.16.185.5', 'bgp')``` won't be displayed any connected routes.

So, in order to follow the same implementation patters as for JunOS

[2016-12-02 17:54] bewing commented on #98
Why would we not want to support connected routes?  They are present in the route table.  Should it not be a supported type, with an empty string for next_hop?

Furthermore, the base implementation states that protocol is optional, and infers that leaving it blank would search all route types.

[2016-12-02 17:58] mirceaulinic commented on #98
I didn't say that. I said that if you request BGP routes, only BGP routes will be returned.

If napalm-base says that, then we should leave it. It also makes more sense to me and we need to fix JunOS and IOS-XR then accordingly.

[2016-12-02 20:29] dbarrosop commented on #98
Problem with that is that we are actually lying. We don't support everything. Or are we planning to support any potential IGP plus BGP on any platform? The benefit of forcing to ask for a platform is that if someone asks for EIGRP on IOS we can just say `sorry Notimplemented for protocol EIGRP` but if we allow None to signal we want everything we might be lying for those running EIGRP/RIPor any ot

[2016-12-02 20:31] bewing commented on #98
I personally would prefer the ability to utilize get_route_to() to get the state of the FIB, so being able to query without a protocol is highly desired.  If we want to implement another method to get forwarding state, that would work as well.

[2016-12-02 20:35] dbarrosop commented on #98
Another problem is that `napalm_base` says that `get_route_to` _"Returns a dictionary of dictionaries containing details of all available routes to a destination"_ but looks like we are only checking the installed routes. That's is contradictory with the description of the method and the fact that we have a field called `current_active` and `inactive_reason`.

Yes, I think that would make more sen

[2016-12-02 20:45] mirceaulinic commented on #98
True :) I think we should change the docstring in that case - I we should return all possible installed routes.

Yes, I agree on this point.

[2016-12-02 20:48] mirceaulinic commented on #98
No - by default I would find easier to be able to retrieve all learned routes to a destination. And also to filter by a protocol if possible, but not make this mandatory.

[2016-12-02 21:00] dbarrosop commented on #98
I personally think we should deprecate this method. I think we should have a method like:

```get_forwarding_information_for(ip_net=None)```

Which only returns forwarding information; prefix, prefix-length, next-hop, next-hop-interface

And then have protocol specific methods:

[code]

And then include more protocol-relevant information on those.

The reason I want to deprecate this one is becaus

[2016-12-02 21:02] bewing commented on #98
Are you specifically excluding listing what RIB/protocol sourced the installed route?  Because I still feel that would be relevant information.

[2016-12-02 21:06] dbarrosop commented on #98
The FIB doesn't know/care about it but I guess we could include that info anyway as that might help then checking for more information with another method.

In any case, this was just a generic proposal. If we decide to go down this path we will need a proper discussion on a dedicated issue/PR potentially looking at the OC implementation to see if it makes sense implementing their model.

[2016-12-02 21:06] mirceaulinic commented on #98
No, I don't agree. I think we should keep them both (at least for a while).

Can we move this please in ```napalm-base```? I think we'll have many to discuss about that as, again, that's another complex example.

[2016-12-04 10:02] dbarrosop commented on #98
With deprecating I meant raising a DeprecationWarning exception which doesn't really fail your program but prints a noisy Warning that you should stop using it in favor of something else.

https://docs.python.org/2/library/warnings.html#module-warnings

[2016-12-17 11:54] dbarrosop opened #108 "Tox"
See details in the parent issue napalm-automation/napalm#327

[2016-12-17 11:55] dbarrosop commented on #108
Fixed in #107

[2016-12-17 11:55] #108 closed

[2016-12-22 03:42] mirceaulinic opened #109 "Inconsistent output of `get_route_to`"
### Description of Issue/Question

Noticed the following:

[code]

- ```outgoing_interface``` is empty in ``` j.get_route_to('0.0.0.0/0', 'bgp')```, but not in ```j.get_route_to('0.0.0.0/0')``` although it's the same route
- empty ```inactive_reason``` although the device provides
- ```current_active: False``` & ```selected_next_hop: False``` in ```j.get_route_to('0.0.0.0/0')``` but they are ```cu

[2016-12-23 04:51] #98 closed

[2016-12-23 17:11] mirceaulinic opened #111 "`ping` fails when executed without explicit arguments"
### Description of Issue/Question

[code]

[2016-12-28 14:39] #111 closed

[2017-01-10 20:46] bewing opened #113 ".get_snmp_information() not parsing communities correctly"
### .get_snmp_information() has a bad TextFSM template

.get_snmp_information on EOS returns {} if TextFSM cannot parse any community strings (other fields never get recorded)

TextFSM template can't parse
```snmp-server community blah ro```

Need to either:
   * Re-write the TextFSM template to correctly parse SNMP configuration
   * Re-write get_snmp_information to do a line-by-line parse, like

[2017-01-11 10:33] mirceaulinic commented on #113
Hi - I have tested this before and never noticed anything bad.

[2017-01-11 21:14] bewing commented on #113
The existing code definitely misses some cases:

[code]

[2017-01-12 21:45] bewing opened #117 "delete_snmp_config template issues"
delete_snmp_config currently expects "community" to be a dictionary containing a community key indicating which community to delete.

Additionally, it's missing "snmp-server" in the actual removal line:

[code]

[2017-01-13 05:45] itdependsnetworks opened #119 "get_bgp_config not working without peer groups"
### Description of Issue/Question

get_bgp_config not working without peer groups

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue

BGP Configured without the use of peer groups:

[code]
### Err

[2017-01-13 10:09] mirceaulinic commented on #119
Hi @itdependsnetworks,

This is because it has been erroneously designed like that: http://napalm.readthedocs.io/en/latest/base.html#napalm_base.base.NetworkDriver.get_bgp_config
We can't change the output structure, as this is how napalm-base tests.

On the other hand, we can start discussing about a more correct method `get_oc_bgp_config` with respect to the OC model and deprecate this one.

[2017-01-13 11:38] dbarrosop commented on #119
Yeah, this is something we should fix with a new method when we get the OC models up and running.

I am closing this one.

[2017-01-13 14:26] #117 closed

[2017-01-13 14:27] mirceaulinic commented on #113
Closed via https://github.com/napalm-automation/napalm-eos/commit/d2e9d414f98ac9044e3b8cdc6f953e48c888ff51

[2017-01-13 14:27] #113 closed

[2017-01-23 13:09] mirceaulinic opened #121 "Add VRF support to base traceroute and ping"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/pull/185

[2017-01-24 12:48] mirceaulinic opened #122 "`get_bgp_neighbors_detail`: KeyError: u'advertised_prefix_count'"
### Description of Issue/Question

Unable to execute `get_bgp_neighbors_detail`.

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[code]

[2017-01-24 21:33] itdependsnetworks commented on #119
Can we open this back up based on: https://github.com/napalm-automation/napalm-iosxr/pull/94/files

[2017-01-24 21:54] mirceaulinic commented on #119
Sure @itdependsnetworks

[2017-01-26 14:04] mirceaulinic commented on #122
Not a bug - this was actually solved in https://github.com/napalm-automation/napalm-eos/commit/b98bd1a984cc064acb879bd2887a144c4b04766d

[2017-01-26 14:04] #122 closed

[2017-01-26 17:31] narJH27 opened #127 "get_lldp_neighbors() works but not get_lldp_neighbors_detail()"
### Description of Issue/Question
I am using `get_lldp_neighbors_detail()` in my code to gather lldp stats from EOS devices. However, there are challenges in retrieving lldp detail info even though lldp has been enabled on the device and the output can be viewed using the cli command.

### Setup
Simple. IP connectivity to the device is available and transport is set to https.

### napalm-eos versi

[2017-01-26 17:33] mirceaulinic commented on #127
Hi @narJH27: how does the output look like? Can you please to see what's structurally different?
Thanks!

[2017-01-26 17:34] narJH27 commented on #127
@mirceaulinic you mean the CLI output ?

[2017-01-26 17:35] mirceaulinic commented on #127
Yes: `show lldp neighbors detail | json`

[2017-01-26 17:41] narJH27 commented on #127
@mirceaulinic See below ...

The below output is for an interface that has no neighbor attached.

[code]

The below output is for an interface that has a neighbor:

[code]

[2017-01-28 22:19] mirceaulinic opened #129 "Add is_enabled key in the output structure of get_bgp_config"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/106

[2017-01-28 22:23] mirceaulinic opened #130 "Enhance `get_route_to`"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/174

[2017-01-28 22:27] mirceaulinic opened #131 "Add vrf and neighbor_address arguments for get_bgp_neighbors and get_bgp_neighbors_detail"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/105

[2017-02-02 11:31] #109 closed

[2017-02-02 11:49] mirceaulinic commented on #119
Closed via https://github.com/napalm-automation/napalm-eos/commit/6a0bf8d7d79a9eb038154aa23eb85a533066ce84

[2017-02-02 11:49] #119 closed

[2017-02-02 23:00] mirceaulinic opened #133 "Multiple config changes over the same session, before commit"
### Description of Issue/Question

The current implementation does not allow loading multiple changes over the same session, before committing.
Other drivers (at least napalm-junos, napalm-iosxr, napalm-pluribus and napalm-nxos) do offer this possibility, which is normal and natural.
To be consistent, one should be allowed to apply two or more consecutive changes before a commit.

[2017-02-08 20:14] #133 closed

[2017-02-08 20:52] colinmcintosh commented on #127
We're encountering this when remote systems don't send the LLDP systemCapabilities TLV (which isn't required by LLDP) but NAPALM expects it to always be there. This PR fixed it for us: https://github.com/napalm-automation/napalm-eos/pull/137

[2017-02-08 21:49] colinmcintosh opened #138 "LLDP chassisId is converted to a MAC address for non-MAC address chassisId values"
### Description of Issue/Question

napalm-eos get_lldp_neighbor_detail() tries to convert all chassisId values to a MAC address format but per [rfc2992](https://tools.ietf.org/html/rfc2922) (under the section for PtopoChassisIdType) chassisId is not required to be a MAC address.

### Setup

### napalm-eos version

[code]

### eOS version
[code]

### Steps to Reproduce the Issue

Run get_lldp_neigh

[2017-02-10 00:07] dbarrosop commented on #138
Associated PR has been merged. Closing issue. Feel free to reopen if you think there is something to be done.

[2017-02-10 00:07] #138 closed

[2017-02-12 00:38] mirceaulinic opened #144 "`get_interfaces_ip`: add `primary_ip` key"

[2017-02-14 00:52] mirceaulinic commented on #127
Closed via https://github.com/napalm-automation/napalm-eos/commit/492f65ba1677e126ff1373886d1c1dd5ede32513

[2017-02-14 00:52] #127 closed

[2017-03-06 03:11] mirceaulinic opened #147 "New feature: commit confirmed"
See details in the parent issue napalm-automation/napalm-base#214

[2017-03-09 15:12] bewing opened #148 "Config lock not released in some error cases"
### Description of Issue/Question
See topic.  Will submit PR to resolve.

### Setup
This was tested in a virtual salt environtment.
### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### Steps to Reproduce the Issue
Create a config session lock
Error out in a new and interesting way, in a thread
Retry your earlier effort, and see that t

[2017-03-09 15:18] mirceaulinic commented on #148
The PR that screwed this up: https://github.com/napalm-automation/napalm-eos/pull/134

[2017-03-14 16:41] mirceaulinic opened #152 "The current load methods do not allow aliases"
### Description of Issue/Question

Not a bug, as this feature has been just introduced in pyeapi 0.8.0

+ other features for the `run_commands`: https://github.com/arista-eosplus/pyeapi/blob/master/pyeapi/client.py#L686-L687

EDIT: the features we can support are: `expandAliases` and `autoComplete`

[2017-03-14 16:53] #148 closed

[2017-03-15 07:51] dbarrosop commented on #152
What is that? That sounds fairly new even on the eAPI itself, might break compatibility with older EOS versions?

[2017-03-15 11:16] mirceaulinic commented on #152
They have been recently added in pyeapi, not sure about eAPI. I will investigate before trying to add this feature.

[2017-03-16 07:53] dbarrosop commented on #152
Ok, not sure about the value of this anyway, I like that the `eapi` is picky and requires you to type full commands, otherwise it would be like python allowing you to write `device.load_m(...)` :P which might lead to issues if we implement some other method that starts with `load_m`.

[2017-03-16 10:43] mirceaulinic commented on #152
Yes, perhaps `autoComplete` is arguably useful. But I believe `expandAliases` should be there though.

[2017-03-17 07:28] dbarrosop commented on #152
What is `expandAliases`? I am afraid I am not familiar with it.

[2017-03-17 18:27] mirceaulinic opened #155 "Enhance `get_arp_table` and `get_mac_address_table` with filtering arguments"
See details in the parent issue napalm-automation/napalm-base#217

[2017-04-16 07:41] dbarrosop opened #158 "`get_optics` change "infinity" value"
As described here: https://github.com/napalm-automation/napalm-base/issues/237

[2017-04-27 13:25] bewing opened #160 "ping() does not deal with truncated responses"
### Some destinations truncate payload in echo messages

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue
[code]
### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[co

[2017-04-27 14:08] bewing opened #162 "ping() does not deal with hostnames"
### Pinging a hostname changes output

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue
import napalm_eos
d = device('veos1', 'admin', 'admin')
d.open()
d.device.run_commands(["ping 8.8.8.8"])[0]
d.ping("ww

[2017-04-27 14:25] mirceaulinic commented on #162
Keep 'em coming @bewing

[2017-04-30 10:37] #160 closed

[2017-04-30 10:37] #162 closed

[2017-06-22 13:27] bewing opened #168 "EOSDriver.get_users() returns empty string for sshkeys"
### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### What I would expect
[code]
### What I get
[code]

Will submit PR in napalm_eos to fix, and update unit test in napalm_base to enumerate sshkeys and confirm the strings are val

[2017-06-26 07:40] #168 closed

[2017-08-08 05:27] bewing opened #174 "get_mac_address_table swallowing errors"
`get_mac_address_table()` swallows all errors, and then returns an incorrect type:

[code]

Notice that we didn't call open(), and that https://github.com/napalm-automation/napalm-eos/blob/develop/napalm_eos/eos.py#L972 eats the exception.

Also note that an empty dictionary is returned, instead of an empty list.

I'm not sure why we're trying to catch exceptions here instead of letting them raise

[2017-08-08 13:17] #174 closed

[2017-08-24 07:34] bholmgren opened #177 "get_facts() does report internal OS version, not the OS version."
### Description of Issue/Question
get_facts() does report internal OS version, not the OS version.

I assume that is by choice but I believe that is an incorrect behaviour.

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

[2017-08-24 09:25] mirceaulinic commented on #177
Hi @bholmgren - for posterity, could you please clarify here what is the internal version and what's the OS version? An example would be equally welcome. Thanks!

[2017-08-24 17:23] bewing commented on #177
[code]
get_facts() reports the Internal build version
https://github.com/napalm-automation/napalm-eos/blob/develop/napalm_eos/eos.py#L241

[code]

[2017-08-25 00:21] bholmgren commented on #177
Thanks @bewing. I think your comment explains it properly.

The trailing '-5462878.41831F' in this example is probably some internal build ID at Arista and not particularly useful for napalm users.

[2017-08-25 00:30] bholmgren opened #178 "get_lldp_neighbors_detail() to include remote_port_type'"
### Description of Issue/Question

Not a bug but a proposal for an additional field in the response from get_lldp_neighbors_detail()

Currently the response data model includes "remote_port" which is mapped from the 'port ID' LLDP TLV.  However, the Port ID also has a type, 'Port ID type' which can be a number of different things.

The following are the types specified in IEEE's LLDP MIB, [LldpPor

[2017-08-28 09:11] dbarrosop commented on #177
We should keep it as it is. If you don't want the build version you can ignore it but that information is useful if you are running EFT images which some napalm users do.

[2017-09-07 00:40] bholmgren commented on #177
For what it's worth, I'd like to offer a more detailed version of my view on this.

Ignoring build ID parts programatically is not as easy as one may think as the format of internal build ID is not fixed.
The best logic I've come up with so far is to strip everything from the last dash to the end but it is likely to be prone to errors and possible changes in the format.

While I understand why you

[2017-09-11 16:17] ktbyers commented on #177
There are some issues on Cisco IOS as well.
- We need a way to add the feature set (things like advanced ip services, advanced security).
- Also IOS-XE has the dual numbering system.

Probably should factor this in to any changes to the `get_facts` data structure.

[2017-09-12 12:05] dbarrosop commented on #177
My suggestion then is to do what's proposed here but adding a `vendor` key where we can add arbitrary k/v pairs for vendor specific stuff. We should postpone this and do it after the merge though.

[2017-10-19 20:11] madhurabhogate opened #181 "Can you use rollback() if you have made changes using load_merge_candidate() ?"
### Description of Issue/Question

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

### eOS version
(Paste verbatim output from `show version | json` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[code]

[2017-10-20 12:00] dbarrosop commented on #181
shouldn't be a problem but I'd suggest validating first in the lab. To understand how it works check this:

https://napalm.readthedocs.io/en/latest/support/eos.html#rollback

[2017-10-20 12:00] dbarrosop commented on #181
closing the issue, feel free to reopen if you think it's necessary.

[2017-10-20 12:00] #181 closed

[2017-10-24 12:54] #130 closed

[2017-10-24 12:54] #129 closed

[2017-10-24 12:54] #121 closed

[2017-10-24 12:54] #55 closed

[2017-10-24 12:54] #144 closed

[2017-10-24 12:54] #147 closed

[2017-10-24 12:55] #152 closed

[2017-10-24 13:00] mirceaulinic commented on #177
Hi @bholmgren - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/436 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issue to the main repository: https://github.com/napalm-automation/napalm.

Thank

[2017-10-24 13:00] #177 closed

[2017-10-24 13:00] #158 closed

[2017-10-24 13:00] #155 closed

[2017-10-24 13:00] #131 closed

[2017-10-24 13:02] mirceaulinic commented on #178
Hi @bholmgren - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/437 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issue to the main repository: https://github.com/napalm-automation/napalm

Thanks

[2017-10-24 13:02] #178 closed